/.idea/*

/documentation/*.xml~
/documentation/output/*

/component/datacompliance.xml
/component/backend/datacompliance.xml
/component/backend/CHANGELOG.php
/component/backend/version.php

/component/cli/*.xml

/component/media/css/fef*
/component/media/fonts
/component/media/images
/component/media/uncompressed/js/tabs.js

/component/backend/vendor

/release/*

# Internal language symlinks
/component/language/*/en-GB
/modules/*/*/language/en-GB
/plugins/*/*/language/en-GB

# Symlink to FEF to let phpStorm auto-complete the CSS class names
/fef.min.css
