<?xml version="1.0" encoding="utf-8"?>
<!--~
  ~ @package   AkeebaDataCompliance
  ~ @copyright Copyright (c)2018-2022 Nicholas K. Dionysopoulos / Akeeba Ltd
  ~ @license   GNU General Public License version 3, or later
  -->
<config >
    <inlinehelp button="show"/>
    <fieldset
            name="consent"
            label="COM_DATACOMPLIANCE_CONFIG_CONSENT_LABEL"
            description="COM_DATACOMPLIANCE_CONFIG_CONSENT_DESC"
            addfieldprefix="Akeeba\Component\DataCompliance\Administrator\Field"
    >
        <field
                name="policyarticle"
                type="article"
                label="COM_DATACOMPLIANCE_CONFIG_POLICYARTICLE_LABEL"
                description="COM_DATACOMPLIANCE_CONFIG_POLICYARTICLE_DESC"
                select="true"
                new="true"
                edit="true"
                clear="true"
        />

        <field name="showexport"
               type="radio"
               default="1"
               label="COM_DATACOMPLIANCE_CONFIG_SHOWEXPORT_LABEL"
               description="COM_DATACOMPLIANCE_CONFIG_SHOWEXPORT_DESC"
               layout="joomla.form.field.radio.switcher"
        >
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>

        <field name="showwipe"
               type="radio"
               default="1"
               label="COM_DATACOMPLIANCE_CONFIG_SHOWWIPE_LABEL"
               description="COM_DATACOMPLIANCE_CONFIG_SHOWWIPE_DESC"
               layout="joomla.form.field.radio.switcher"
        >
            <option value="0">JNo</option>
            <option value="1">JYes</option>
        </field>

        <field name="siteurl" type="hidden" default=""/>
    </fieldset>

    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
    >

        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                class="inputbox"
                filter="rules"
                component="com_datacompliance"
                section="component"/>
    </fieldset>
</config>
